body {
	margin: 0;
	background-color: aliceblue;
}

.wrapper {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 10px;
}

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform-style: preserve-3d;
	z-index: -1;
}

.background {
	transform: translateZ(-10px) scale(2);
}

.foreground {
	transform: translateZ(-5) scale(1.5);
}

.background,
.foreground {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

.title {
	font-size: 3rem;
	text-align: center;
	text-shadow: 0 0 5px black;
}

section {
	font-size: 2rem;
	padding: 2rem;
	color: rgba(6, 106, 4, 0.879);
	background-color: black;
}
